<p>dams works!</p>

<iframe width="700" height="400"
    src="http://agridata.tn/fr/dataset/barrages/resource/8d70196c-a95e-4a04-9c61-8144b4b60a18/view/9f10bdc1-b446-4b60-a29c-9559b8afb8cb"
    frameBorder="0"></iframe>
<br>

<iframe width="400" height="400"
    src="http://agridata.tn/fr/dataset/barrages/resource/8d70196c-a95e-4a04-9c61-8144b4b60a18/view/e1d006c5-5a22-4ab0-ad00-32c7705b0ae4"
    frameBorder="0"></iframe>


<br>
<iframe width="700" height="400"
    src="http://agridata.tn/fr/dataset/barrages/resource/8d70196c-a95e-4a04-9c61-8144b4b60a18/view/d2b62641-5416-4460-8d57-99f62c2ca835"
    frameBorder="0"></iframe>