<!-- begin::Header -->
<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">Engrais en tunisie</span>
    <span class="text-muted mt-1 fw-bold fs-7">Plus de {{this.count}} engrais</span>
  </h3>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table
      class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
    >
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted">
          <th class="min-w-25px" > _id</th>
          <th class="min-w-150px">composante_ar:</th>
          <th class="min-w-150px">frequence</th>
          <th class="min-w-150px">source</th>
          <th class="min-w-150px" >unite</th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody *ngFor=" let p of this.engrais; let i=index;">
        
        <tr>
          <td class="min-w-50px">
            <a class="text-dark fw-bolder text-hover-primary fs-6">
              {{this.engrais[i]["_id"]}} &nbsp;
            </a>
          </td>
          <td class="min-w-150px">
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
            >
            {{this.engrais[i]["composante_ar"]}} &nbsp;
            </a>
          </td>
          <td class="min-w-150px">
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
            >
            {{this.engrais[i]["frequence"]}} &nbsp;
            </a>
          </td>
          <td class="min-w-150px">
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
            >
            {{this.engrais[i]["source"]}}    &nbsp;         
          </a>

          </td>

          <td class="min-w-150px">
            <span class="badge badge-light-success">{{this.engrais[i]["unite"]}} 
              &nbsp;
            </span>
          </td>

        </tr>
      
      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>

