
<div *ngFor=" let p of this.news; let i=index">
  
<div class="blog-card">
  <div class="meta">

    <div class="photo" style="background-image: url(assets/media/articlePlaceholder.png)">
    
    </div>
    <ul class="details">
      <li class="author"><a href="#">John Doe</a></li>
      <li class="date">Aug. 24, 2015</li>
      <li class="tags">
        <ul>
          <li><a href="#">Learn</a></li>
          <li><a href="#">Code</a></li>
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="description">
    <h1>{{p['title']}}</h1>
    <h2>Source: {{p['source']['name']}}</h2>
    <p>{{p['description']}}</p>
    <p class="read-more">
      <a href="{{p['url']}}">Read More</a>
    </p>
  </div>
</div>

</div>
