<div class="container-fluid">
    <div class="cart">
        <div class="row row1" >
            <div class="col-md-4">
                <img src="assets/media/items/fermeture-reglable-oeillet-plat-pour-remorque-agricole.jpg" width="100%" id="ProductImg">            
            </div>
            <div class="col-md-6">
                <h1 class="product-title">Product Name: {{Item.ItemName}}</h1>
                <div class="reviews">
                    <div class="stars">
                        <img src="assets/media/icons/duotune/star.png"  width="20px" height="20px">
                        <img src="assets/media/icons/duotune/star.png"  width="20px" height="20px">
                        <img src="assets/media/icons/duotune/star.png"  width="20px" height="20px">
                        <img src="assets/media/icons/duotune/star.png"  width="20px" height="20px">
                        <img src="assets/media/icons/duotune/star.png"  width="20px" height="20px">
                    </div>
                    <p>240 reviews</p>
                </div>
                <div class="price">
                    <span> 1805.9  DT</span>
                    <span>2000 DT</span>
                </div>
                <div class="row">
                    <div class="col-md-4 qty">
                        <h5>Quantity</h5>
                        <br>
                        <select class="quantity custom-select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div id="product" class="product-inf">
                    <ul>
                      <li class="active">In Stock</li>
                    </ul>
                    <div class="tabs-content">
                        <br>
                        <h4>Description :</h4>
                        <br>
                        <div id="Description">
                            <p>POMPE PRISE DE FORCE MALE ET RACCORDS POMPIERS - PU55PFM.</p>
                        </div>
                        <div id="Details" >
                            <p>POMPE PRISE DE FORCE MALE ET RACCORDS POMPIERS - PU55PFM</p>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#" class="custom-btn">Add To Cart</a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="custom-btn">Buy Now </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
