<div class="card mb-5 mb-xl-10">
    <div class="card-body pt-9 pb-0">
      <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
        <div class="me-7 mb-4">
          <div
            class="
              symbol symbol-100px symbol-lg-160px symbol-fixed
              position-relative
            "
          >
            <img src="./assets/media/logos/elkhadhralogo.png" alt="Metronic" />
            
          </div>
        </div>
  
        <div class="flex-grow-1">
          <div
            class="
              d-flex
              justify-content-between
              align-items-start
              flex-wrap
              mb-2
            "
          >
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center mb-2">
                <a
                  class="
                    text-gray-800 text-hover-primary
                    fs-2
                    fw-bolder
                    me-1
                    cursor-pointer
                  "
                >
                  EL KHADHRA
                </a>
                <a class="cursor-pointer">
                 
                </a>
                
              </div>
              
              
  
              <div class="d-flex flex-wrap fw-bold fs-6 mb-4 pe-2">
                <a
                  class="
                    d-flex
                    align-items-center
                    text-gray-400 text-hover-primary
                    me-5
                    mb-2
                    cursor-pointer
                  "
                >
                  
                Distribution des Produits Agricoles 
                </a>
                
              </div>
              <a
                  class="
                    d-flex
                    align-items-center
                    text-gray-400 text-hover-primary
                    me-5
                    mb-2
                    cursor-pointer
                  "
                >
                <span
                    [inlineSVG]="
                      './assets/media/icons/duotune/general/gen018.svg'
                    "
                    class="svg-icon svg-icon-4 me-1"
                  ></span>  
                Monastir, Tunisie
                </a>
                <a
                  class="
                    d-flex
                    align-items-center
                    text-gray-400 text-hover-primary
                    mb-2
                    cursor-pointer
                  "
                >
                <span
                    [inlineSVG]="
                      './assets/media/icons/duotune/communication/com011.svg'
                    "
                    class="svg-icon svg-icon-4 me-1"
                  ></span>  
                ste.khadra@topnet.tn
                </a>
              
                <a
                  class="
                    d-flex
                    align-items-center
                    text-gray-400 text-hover-primary
                    me-5
                    mb-2
                    cursor-pointer
                  "
                >
                <span
                    [inlineSVG]="
                      './assets/media/icons/duotune/communication/com001.svg'
                    "
                    class="svg-icon svg-icon-4 me-1"
                  ></span>
                www.elkhadra.tn
                </a> 
                              
              
              <div class="d-flex flex-wrap fw-bold fs-6 mb-4 pe-2">
                <a
                  class="
                    d-flex
                    align-items-center
                    text-gray-400 text-hover-primary
                    me-5
                    mb-2
                    cursor-pointer
                  "
                >
               
                <span class="svg-icon  svg-icon-1x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Communication/Call#1.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect x="0" y="0" width="24" height="24"/>
                      <path d="M11.914857,14.1427403 L14.1188827,11.9387145 C14.7276032,11.329994 14.8785122,10.4000511 14.4935235,9.63007378 L14.3686433,9.38031323 C13.9836546,8.61033591 14.1345636,7.680393 14.7432841,7.07167248 L17.4760882,4.33886839 C17.6713503,4.14360624 17.9879328,4.14360624 18.183195,4.33886839 C18.2211956,4.37686904 18.2528214,4.42074752 18.2768552,4.46881498 L19.3808309,6.67676638 C20.2253855,8.3658756 19.8943345,10.4059034 18.5589765,11.7412615 L12.560151,17.740087 C11.1066115,19.1936265 8.95659008,19.7011777 7.00646221,19.0511351 L4.5919826,18.2463085 C4.33001094,18.1589846 4.18843095,17.8758246 4.27575484,17.613853 C4.30030124,17.5402138 4.34165566,17.4733009 4.39654309,17.4184135 L7.04781491,14.7671417 C7.65653544,14.1584211 8.58647835,14.0075122 9.35645567,14.3925008 L9.60621621,14.5173811 C10.3761935,14.9023698 11.3061364,14.7514608 11.914857,14.1427403 Z" fill="#000000"/>
                  </g>
              </svg><!--end::Svg Icon--></span>
                (+216) 73 462 925
                </a>  
                             
              </div>
              <a
                class="btn btn-sm btn-primary me-2 cursor-pointer"
                id=""
                routerLink="/item"
                routerLinkActive="active"
              >
                
                <span class="indicator-label">Go to products </span>
                <span class="indicator-progress">
                  Please wait...
                  <span
                    class="spinner-border spinner-border-sm align-middle ms-2"
                  ></span>
                </span>
              </a>
            </div>
            
  
            <div class="d-flex my-4">
              
              <a
                class="btn btn-sm btn-primary me-3 cursor-pointer"
                data-bs-toggle="modal"
                data-bs-target="#kt_modal_offer_a_deal"
              >
                Contact
              </a>
            </div>
          </div>
  
          <div class="d-flex flex-wrap flex-stack">
            <div class="d-flex flex-column flex-grow-1 pe-8">
              
            </div>
  
            <div
              class="
                d-flex
                align-items-center
                w-200px w-sm-300px
                flex-column
                mt-3
              "
            >
              
              
              
            </div>
          </div>
        </div>
      </div>
  
      
    </div>
    
  </div>
  
  <router-outlet></router-outlet>
  