<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4" *ngFor="let item of productList">
      <div class="card" tabindex="0">
        <div class="card-image" >
          <img src="{{item.imageUrl}}" alt="">
        </div>
        <div class="card-content">
          <!--<p class="kicker">{{item.Type1}}</p>!-->
          <h2>{{item.name}}</h2>
          <p>{{formatDescription(item.description)}}</p>
        </div>
        <div class="buy d-flex justify-content-between align-items-center">
          <div class="price text-success"><h5 class="mt-4">{{item.price}} DT</h5></div>
            <a  class="btn btn-danger mt-3" (click)="addtoCart(item)"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
          </div>
        </div>

        <div class="card-footer" style="height: 50px;">
          <div class="row">
          <a href="#" routerLink="/product/{{item.id}}" role="button">
            <span>Read More</span>
            <svg class="icon" viewBox="0 0 512 512">
              <g fill="none" stroke-width="1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                <line x1="0.5" y1="8.5" x2="15.5" y2="8.5"></line>
                <polyline points="10.5,3.5 15.5,8.5 10.5,13.5 "></polyline>
              </g>
            </svg>
          </a>

        </div>
        </div>
      </div>
    </div>



