<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/dashboard">
    <span class="menu-title" translate="MENU.DASHBOARD"></span>
  </a>
</div>

<!-- Layout Builder -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="dashboard/pluvio">
    <span class="menu-title">Pluviométrie</span>
  </a>
</div>

<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="dashboard/dams">
    <span class="menu-title">Etat Barrages</span>
  </a>
</div>

<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="dashboard/news">
    <span class="menu-title">Actualité</span>
  </a>
</div>
