<!-- Dashboard -->

<div class="menu-item">
  <p class="menu-link without-sub">
    <span class="menu-title">
      “An agricultural life is one eminently calculated for human happiness and human virtue.”  <br>
      &nbsp;&nbsp;<br>
       — C. L. ALLEN,
      
    </span>
  </p>
</div>

<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/dashboard"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title" translate="MENU.DASHBOARD"></span
  ></a>
</div>
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/item"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/ecommerce/ecm002.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title" >Our Products</span
  ></a>
</div>
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/providerlist"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/ecommerce/ecm004.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title" >Providers</span
  ></a>
</div>

<!-- Separator -->
<!-- Separator -->
<div class="menu-item">
  <div class="menu-content">
    <div class="separator mx-1 my-4"></div>
  </div>
</div>

