<div class="card card-custom">
  <!-- begin::Header -->
  <div class="card-header card-header-stretch overflow-auto">
    <ul
      class="
        nav nav-stretch nav-line-tabs
        fw-bold
        border-transparent
        flex-nowrap
      "
      role="tablist"
    >
      <li class="nav-item">
        <a
          class="nav-link cursor-pointer"
          [ngClass]="{ active: activeTab === 'Header' }"
          (click)="setActiveTab('Header')"
          role="tab"
        >
          Header
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link cursor-pointer"
          [ngClass]="{ active: activeTab === 'Dams' }"
          (click)="setActiveTab('Dams')"
          role="tab"
        >
          Barrages
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link cursor-pointer"
          [ngClass]="{ active: activeTab === 'News' }"
          (click)="setActiveTab('News')"
          role="tab"
        >
          News
        </a>
      </li>

    </ul>
  </div>
  <!-- end::Header -->
  <!-- begin::Form -->
  <form class="form" novalidate #form="ngForm" (ngSubmit)="submitPreview()">
    <!-- begin::Body -->
    <div class="card-body">
      <div class="tab-content pt-3">
        <!-- begin::Header -->
        <div class="tab-pane" [ngClass]="{ active: activeTab === 'Header' }">
          <div class="row mb-10">
            <app-dash></app-dash>
          </div>

        </div>
        <div class="tab-pane" [ngClass]="{ active: activeTab === 'Dams' }">
          <div class="row mb-10">
            <app-dams></app-dams>
          </div>

        </div>
        <!-- end::Header -->
        <!-- begin::Header -->
        <div class="tab-pane" [ngClass]="{ active: activeTab === 'News' }">
          <div class="row mb-10">
            <app-news></app-news>
          </div>


        </div>
      </div>
    </div>
    <!-- end::Body -->
  </form>
  <!-- end::Form -->
</div>
